
.menu-modal{
    width: 400px;
    position: absolute;
    top: 99px;
    left: 60%;
    background-color: white;
    opacity: 1;
    border: 2px solid  #888888;
    border-radius: 5px;
    box-shadow: 24,
}

.menu-modal div{
    border-bottom: 2px solid #888888;
    padding: 10px;
    font-size: 21px;
    color:  #888888;
    font-weight: 600;
    cursor: pointer;
}
